/* Navbar */
.navbar {
  background-color: var(--color-peach);
  color: var(--color-black);
  padding: 30px 0;
}

.navbar .navbar-nav .nav-link {
  color: var(--color-black);
  font-size: 14px;
  padding: 8px 16px;
}

.navbar-brand img {
  max-width: 262px;
}

.navbar .countdown-timer {
  margin-left: 82px;
}

.navbar .submit-name-button {
  background-color: var(--color-orange);
  color: var(--color-white);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.82px;
  text-transform: uppercase;
  padding: 13.5px 24px;
  margin-left: 15px;
}

.navbar .time-value {
  font-size: 36px;
  font-weight: 500;
  color: var(--color-orange);
  font-family: 'EightiesComeback', sans-serif;
  letter-spacing: 0.36px;
  background-color: var(--color-cream);
  border-radius: 10px;
  padding: 0 12px;
  margin-bottom: 6px;
  min-width: 57px;
}

.navbar .time-label {
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}

.navbar .time-separator {
  color: var(--color-orange);
  font-size: 36px;
  font-weight: 500;
  font-family: 'EightiesComeback', sans-serif;
  letter-spacing: 0.36px;
}

.navbar .countdown-display {
  gap: 3.7px;
}

.navbar .next-event-label {
  font-size: 12px;
  font-weight: 600;
  color: var(--color-orange);
  text-transform: uppercase;
  margin-bottom: 1px;
}

.navbar .event-details {
  font-size: 12px;
  font-weight: 600;
}

.navbar .event-details > div {
  margin-bottom: 1px;
}

/* Challah Bake Banner */
.challah-bake-banner {
  background-image: url(../images/challah-bake-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  padding: 138px 0 191px 0;
}

.challah-bake-banner .container {
  max-width: 1550px;
}

.challah-bake-banner h1 {
  font-size: 100px;
  font-weight: 500;
  font-family: 'EightiesComeback';
  color: var(--color-orange);
  line-height: 104px;
}

.challah-bake-banner h1 > span {
  font-family: 'EightiesComeback';
}

.challah-bake-banner p {
  font-size: 24px;
  font-weight: 400;
  font-family: 'EightiesComeback';
  color: var(--color-peach);
  font-style: italic;
  line-height: 32px;
  letter-spacing: 2px;
  padding: 0 30px 0 44px;
}

/* Registration Form */
.registration-form {
  background-image: url(../images/registration-form-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 188px 0 374px 0;
  margin-top: -286px;
}

.registration-form-container {
  background-color: var(--color-cream);
  padding: 104px 116px;
  border-radius: 25px;
  display: inline-block;
  max-width: 1062px;
  position: relative;
  z-index: 1;
  width: 100%;
}

.progress-steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 62px;
}

.step {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-orange);
  background-color: var(--color-peach);
  border-radius: 80px;
  padding: 8px 14px;
  z-index: 1;
}

.step.active {
  background-color: var(--color-orange);
}

.step-text {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-orange);
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.13em;
}

.step.active .step-text {
  color: var(--color-white);
  font-weight: 600;
}

.step-connector {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 3px;
  background-image: repeating-linear-gradient(to right,
      var(--color-orange),
      var(--color-orange) 4px,
      transparent 4px,
      transparent 12px);
}

.registration-form-content input.form-control,
.registration-form-content select {
  border-radius: 15px;
  padding: 26px 33px;
  color: var(--color-black);
}

.registration-form-content select {
  background-position: right 2rem center;
  background-size: 21px 15px;
}

.registration-form-content input.form-control::placeholder {
  color: var(--color-gray);
}

.registration-form-content .input-margine {
  margin-bottom: 30px;
}

.registration-form-price {
  font-size: 48px;
  font-weight: 500;
  color: var(--color-orange);
  font-family: 'EightiesComeback', sans-serif;
  letter-spacing: 0.01em;
  line-height: 53px;
}

.registration-form-content .next-button {
  padding: 22px 42px;
}

.registration-form-content .form-check .form-check-input {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 1px solid var(--color-orange);
  background-color: var(--color-peach);
}

.registration-form-content .form-check .form-check-input:checked {
  background-color: var(--color-orange);
}

.registration-form-content .add-name-button {
  padding: 21px 26px;
}

/* Challah Opportunity */
.challah-opportunity {
  background-color: var(--color-peach);
  padding: 157px 0 390px 0;
}

.challah-opportunity .container {
  max-width: 1278px;
}

.challah-opportunity h3 {
  font-size: 80px;
  font-weight: 500;
  font-family: 'EightiesComeback';
  letter-spacing: 0.02em;
  color: var(--color-orange);
}

.challah-opportunity p {
  margin-bottom: 22px;
}

.challah-opportunity .curly-arrow-down-container {
  margin-top: 50px;
  margin-right: 16px;
}

.challah-opportunity .curly-arrow-down {
  max-width: 256px;
}

.challah-opportunity .submit-name-button {
  padding: 22px 40px;
}

.challah-opportunity .challah-opportunity-content {
  padding: 10px 0 0 20px;
}


/* About Mosdos Kever Rachel */
.about-mosdos-kever-rachel {
  background-color: var(--color-blue);
  padding: 172px 0 236px 0;
}

.about-mosdos-kever-rachel .container {
  max-width: 1278px;
}

.about-mosdos-kever-rachel .about-mosdos-kever-rachel-container {
  background-color: var(--color-light-blue);
  padding: 127px 128px;
  border-radius: 30px;
  border: 3px solid var(--color-blue);
  text-align: center;
  margin-top: -417px;
}

.about-mosdos-kever-rachel .about-mosdos-kever-rachel-content {
  padding: 0 20px;
}

.about-mosdos-kever-rachel h3 {
  font-size: 80px;
  font-weight: 500;
  font-family: 'EightiesComeback';
  letter-spacing: 0.02em;
  color: var(--color-blue);
  margin-bottom: 41px;

}

.about-mosdos-kever-rachel p {
  margin-bottom: 20px;
}

.about-mosdos-kever-rachel .see-more-link {
  color: var(--color-white);
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-mosdos-kever-rachel .about-mosdos-kever-rachel-image {
  margin-top: 35px;
}

.about-mosdos-kever-rachel .see-more-link a {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.13em;
  color: var(--color-white);
}

.about-mosdos-kever-rachel .see-more-link:hover a {
  text-decoration: underline;
}

.stats-container {
  margin-top: 56px;
}

.stats-container .stat-card {
  background-color: var(--color-dark-blue);
  border-radius: 15px;
  padding: 47px 30px 53px 30px;
  text-align: center;
  flex: 1;
}

.stats-container .stat-number {
  font-size: 126px;
  font-weight: 500;
  font-family: 'EightiesComeback';
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  color: var(--color-blue);
}

.stats-container .stat-label {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: var(--color-white);
}

/* Upcoming Events */
.upcoming-events {
  background-color: var(--color-orange);
  padding: 185px 0;
}

.upcoming-events .container {
  max-width: 1523px;
}

.upcoming-events h2 {
  text-align: center;
  font-size: 74px;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--color-peach);
  margin-bottom: 68px;
  font-family: 'EightiesComeback', sans-serif;
}

.upcoming-events .event-card {
  background-color: var(--color-light-orange);
  border-radius: 24px;
  padding: 42px 44px;
  text-align: center;
  border: 3px solid var(--color-peach);
}

.upcoming-events .event-date {
  font-size: 38.5px;
  font-weight: 400;
  color: var(--color-orange);
  margin-bottom: 11px;
}

.upcoming-events .event-info {
  margin-bottom: 30px;
}

.upcoming-events .event-lead {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-dark-brown);
}

.upcoming-events .event-leader {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-dark-brown);
}

.upcoming-events .event-actions {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.upcoming-events .event-actions .submit-name-button {
  padding: 18px 12px;
}

.upcoming-events .event-actions .get-notification-button {
  padding: 18px 12px;
}

.upcoming-events .container {
  position: relative;
}

.upcoming-events .mySwiper {
  margin: 0 100px;
  position: relative;
}

.upcoming-events .swiper-button-next,
.upcoming-events .swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}

.upcoming-events .swiper-button-next,
.upcoming-events .swiper-button-prev {
  width: 70px;
  height: 70px;
}

.upcoming-events .swiper-button-next::after,
.upcoming-events .swiper-button-prev::after {
  display: none;
}

.upcoming-events .swiper-button-next {
  right: 0;
}

.upcoming-events .swiper-button-prev {
  left: 0;
}

/* Footer */
.footer {
  background-color: var(--color-dark-brown);
  padding: 220px 0;
}

.footer .container {
  max-width: 1330px;
}

.footer .footer-logo {
  max-width: 363px;
}
